.gallery-title{
    position: absolute;
    top: 100px;
    left: 780px;
    font-size: 40px;
  }
  #picture1{
    position: absolute;
    left: 100px;
    top: 250px;
  }
  #picture2{
    position: absolute;
    top: 250px;
    left: 600px;
  }
  #picture3{
    position: absolute;
    top: 250px;
    left: 1030px;
  }
  #picture4{
    position: absolute;
    top: 250px;
    left: 1520px;
  }
  #picture5{
    position: absolute;
    top: 560px;
    left: 1000px;
  }
  #picture6{
    position: absolute;
    top: 540px;
    left: 600px;
  }
  .images img:hover{
    transform: scale(1.1);
    transition: 0.2s;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.preview-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.preview-image:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    margin-bottom: 20px;
}

.close {
    color: #fff;
    font-size: 3em;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    margin-top: 40px;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
