.footer{
    position: absolute;
    top: 1100px;
    width: 100%;
}
@media only screen and (max-width: 414px){
    .services-container {
        margin-left: auto;
        margin-right: auto; /* Center the container if needed */
        width: 90%; /* Optional: Adjust the width for better responsiveness */
    }
    .service-title {
        margin-left: 0; /* Adjust the margin as needed */
        text-align: center; /* Optional: Center align the title */
    }
}